<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <title>trackbar</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js'></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<center>
<form action="" method="POST">
  <br/>
    <div data-role="Y">
        <label for="Y_max">Y_max:</label>
        <input id="Y_max_in" type="range" min="0" max="255" value="255" align="center">
        <div id="Y_max_out"></div>
        <br/>
        <label for="Y_min">Y_min:</label>
        <input id="Y_min_in" type="range" min="0" max="255" value="0" align="center">
        <div id="Y_min_out"></div>
        <br/>
    </div>
    <div data-role="Cb">
        <label for="Cb_max">Cb_max:</label>
        <input id="Cb_max_in" type="range" min="0" max="255" value="255" align="center">
        <div id="Cb_max_out"></div>
        <br/>
        <label for="Cb_min">Cb_min:</label>
        <input id="Cb_min_in" type="range" min="0" max="255" value="0" align="center">
        <div id="Cb_min_out"></div>
        <br/>
    </div>
    <div data-role="Cr">
      <label for="Cr_max">Cr_max:</label>
      <input id="Cr_max_in" type="range" min="0" max="255" value="255" align="center">
      <div id="Cr_max_out"></div>
      <br/>
      <label for="Cr_min">Cr_min:</label>
      <input id="Cr_min_in" type="range" min="0" max="255" value="0" align="center">
      <div id="Cr_min_out"></div>
      <br/>
    </div>
    <button id="submit" value="submit">전송</button>  <br><br>
</form>
<img src="{{ url_for('video_feed') }}">
</center>
<script>
  var socket = io.connect('http://' + '192.168.1.242' + ':' + location.port);

  $('#submit').click(() => {

    socket.emit( 'Y_max_abc', { Y_max_in : $('#Y_max_in').val(), Y_min_in : $('#Y_min_in').val(),
                                Cb_max_in : $('#Cb_max_in').val(), Cb_min_in : $('#Cb_min_in').val(),
                                Cr_max_in : $('#Cr_max_in').val(), Cr_min_in : $('#Cr_min_in').val() } )
  })


</script>
<body>
    <script>
      document.querySelector('#Y_max_in').addEventListener('input',e=>{
          document.querySelector('#Y_max_out').innerHTML= e.target.value;
      });
      document.querySelector('#Y_min_in').addEventListener('input',e=>{
            document.querySelector('#Y_min_out').innerHTML= e.target.value;
        });
      document.querySelector('#Cb_max_in').addEventListener('input',e=>{
            document.querySelector('#Cb_max_out').innerHTML= e.target.value;
        });
      document.querySelector('#Cb_min_in').addEventListener('input',e=>{
            document.querySelector('#Cb_min_out').innerHTML= e.target.value;
        });
      document.querySelector('#Cr_max_in').addEventListener('input',e=>{
            document.querySelector('#Cr_max_out').innerHTML= e.target.value;
        });
      document.querySelector('#Cr_min_in').addEventListener('input',e=>{
            document.querySelector('#Cr_min_out').innerHTML= e.target.value;
        });
    </script>
</body>
</html>