<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>MOTION Creator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div data-role="Y">
        <label for="range-1a">Y_max:</label>
        <input name="range-1a" id="range-1a" type="range" min="0" max="255" value="255">
        <label for="range-1b">Y_min:</label>
        <input name="range-1b" id="range-1b" type="range" min="0" max="255" value="0">
    </div>
    <div data-role="Cb">
        <label for="range-2a">Cb_max:</label>
        <input name="range-2a" id="range-2a" type="range" min="0" max="255" value="255">
        <label for="range-2b">Cb_min:</label>
        <input name="range-2b" id="range-2b" type="range" min="0" max="255" value="0">
    </div>
    <div data-role="Cr">
      <label for="range-1a">Cr_max:</label>
      <input name="range-1a" id="range-1a" type="range" min="0" max="255" value="255">
      <label for="range-1b">Cr_min:</label>
      <input name="range-1b" id="range-1b" type="range" min="0" max="255" value="0">
  </div>
    </body>
  </div>
</html>