<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OPENPIBO-HOME</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js'></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <body>
    <h2 class="mt-5"> PIBO PROJECT </h2>
    <button id="stop" value="Stop/Start">Stop/Start</button>  <br><br>              
    <button id="click" value="Capture">Capture</button>  <br><br>
    <button id="grey" value="Grey">Grey</button>  <br><br>
    <button id="neg" value="Negative">Negative</button>  <br><br>
    <button id="line" value="Linetracing">Linetracing</button>  <br><br>
    </form>
  </body>

  <script>
  $(function(){
    var socket = io();
    printf("d얀걇상겅")

    $('#stop').click(() => {
      socket.emit( 'my event', { message : 'Stop' } )
    })

    $('#click').click(() => {
      socket.emit( 'my event', { message : 'click' } )
    })

    $('#grey').click(() => {
      socket.emit( 'my event', { message : 'grey' } )
    })
    
    $('#neg').click(() => {
      socket.emit( 'my event', { message : 'neg' } )
    })

    $('#line').click(() => {
      socket.emit( 'my event', { message : 'line' } )
    })

    socket.on('img', function(data){
      $('#image').attr('src', 'data:image/jpeg;charset=utf-8;base64,'+data);
    });

    socket.on('result', function(data){
      $('#result_val').text(data)
    });
  );
});
  </script>
  <img id='image'>
  </head>
</html>