<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OPENPIBO-HOME</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js'></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  
  <script>
    $(function(){
      var socket = io();

      $('#command').keypress(function(d){
        if (d.charCode != 13)
          return;

        $('#command_val').text($('#command').val())
        socket.emit('command', $('#command').val())
      });

      socket.on('img', function(data){
        $('#image').attr('src', 'data:image/jpeg;charset=utf-8;base64,'+data);
        
      });

    });
  </script>
</head>
<body>
	<br>
    <b><i>명령:</b></i>
    <input type="text" id="command" size=50% />
  </div>
  <br>
  <br>
      <img id='image'>
    </div>
  </div>
</body>
</html>