<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OPENPIBO-HOME</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js'></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  <form>
    <button id="camera" value="카메라">카메라</button>
  </form>

  <script>
  $(function(){
      var socket = io.connect('http://' + '192.168.1.242' + ':' + location.port);
      

      socket.on('img', function(data){
        $('#image').attr('src', 'data:image/jpeg;charset=utf-8;base64,' + data)
    
      //const imageElm = document.getElementById('img');
      //imageElm.src = 'data:image/jpeg;charset=utf-8;base64,', $(data);
      })
      
      $('#camera').click(() => {
          socket.emit( 'command', { message : 'camera' } )
      });

      
  })


  </script>
</head>
<body>
  <img id='image'>
</body>
</html>