<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_server_PIBO</title>
  </head>
  <body>
    <h3 style='color: #ccc;font-size: 30px;'>무엇을 도와드릴까요?</h3>

    <div class="message_holder"></div>
    <form action="" method="POST">
      <!-- <input type="text" class="username" style='font-size:15px;' placeholder="User Name"/> -->
      메세지 보내기 : <input type="text" class="message" style='font-size:15px;' placeholder="Messages"/>
      <input type="submit" value="전송"/> <br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 사진 찍기 :  <button id="capture">capture</button>  <br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 사진 보기 :  <button id="show">show</button>  <br><br>
   
    </form>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js'></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>

      var socket = io.connect('http://' + '192.168.1.87' + ':' + location.port);

      socket.on( 'connect', function() {

        socket.emit( 'my event', {
          data: 'None message'
        } )

        $('#capture').click(() => {
          var data = 'capture'
          socket.emit( 'my event', { message : data } )
        })

        $('#show').click(() => {
          var data = 'show'
          socket.emit( 'my event', { message : data } )
        })

        $('form').on('submit', function( e ) {
          e.preventDefault()
          var user_input = $( 'input.message' ).val()
          socket.emit( 'my event', { message : user_input } )
        } )
      } )


    </script>

  </body>
  </html>